<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Questions</h1>
    <div class="question-content">

  <% @questions.each do |question| %>
    <h2><%= question.title %></h2>

        <div class="question-date">
    <time datetime="<%= question.created_at.strftime('%Y-%m-%d %H:%M:%S') %>">
      <%= question.created_at.strftime('%Y-%m-%d %H:%M:%S') %></time>
        </div>
        <div class="question-text text-lead">
   <%= question.body %>
        </div>

    <%= link_to 'Edit', edit_question_path(question), class: 'button button-dark button-small' %>
    <%= link_to 'Show', question_path(question), class: 'button button-dark button-small' %>
    <%= link_to 'Destroy', question_path(question), data: { turbo_method: :delete, turbo_confirm: 'Вы уверены?' }, class: 'button button-dark button-small' %>

  <% end %>
</div>
  </div>>